/*Application styles could go here */

/**{
    font-family: 16px/24px Georgia, "Times New Roman", Times, serif;
}*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

/*.select2-selection__arrow b{
    display:none !important;
}*/


#prova{
    background-color: white;
}
.contenitore{
    padding-left: 10%;
    padding-right: 5%;
}

.maintit{
    padding: 25px;
    font-family: 'Roboto';
}

#myList > a{
    width: 20%;
    border-color: transparent;
}

.contenuto1{
    text-align:center;
    background-image: url("../images/biblioteca.jpeg");
    height: 200px;
    padding-top: 20px;
    margin-left: auto;
 margin-right: auto;
}


strong{
    font-family: "Roboto";
}

.titolothumb{
    font-family: 'Roboto';
}

h4, h5, h1{
    font-family: 'Roboto';
}

#titolohome{
    font-family: 'Roboto';
    padding: 25px;
    color: white;
    border: 2px solid #343a40;
    width: 50%;
    height: 90px;
    margin-top: 10px;
    margin-left: 25%;
    border-radius: 10px;
    background-color: #343a40;
}
.navbar-nav > .active > a{
    border-top: 2px solid red;
}


img{
    margin-left: 10px;
}

.pagina{
    margin-left: 30px;
}

.body{
    background-color:whitesmoke;
}


.pverbali{
    display: inline-block;
  padding: 8px 14px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
  height: 70%;
  overflow: scroll;
  margin-top: 6%;
  margin-right: 12px;
  margin-left: 12px
}

#postillav{
    font-family: 'Alex Brush', cursive;
    font-size: 25px;
}

img.copertina{
    border: 5px solid green;
}

.infobook{
    padding: 5px;
    width:15%;
    
}

.navbar-nav > li{
    font-size: 20px;
    font-family: 'Roboto';
}

.ricercaf{
    font-family: 'Roboto';
}

.casa{
  padding-left: 80%;
  padding-right: 5%;
}

.biblio{
    padding-right: 5%;
}

.about{
    padding-left: 5%;
}



.navbar-nav > a{
    color:black;
}

.libro2:hover {
  opacity: 0.5;
}



.titoloprinci{
    margin-left: 35px;
}

/*.infolibro{
    position: absolute;
    top: 320px;
    left: 220px;
}*/


#easypaginate {
    width:1000px;
}

#easypaginate div {
    margin-bottom:10px; 
    margin-top:10px; 
}

#easypaginate img {
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

.easyPaginateNav {
    padding:12px;
    margin-left: -3%;
}

.easyPaginateNav a {
    border-radius: 10px;
    margin-left: 10px;
    padding:5px;
    color:grey;
    border: solid black 0.5px;
}

.easyPaginateNav a:hover{
    background-color:#d2d2d2;
    color:black;
    text-decoration: none;
}

.easyPaginateNav a.current {
    font-weight:bold;
    color:black;
    border: solid black 2px;
}

#thumb{
    margin-left: 10px;
    width: 18%;
    height: 10%;
    border: solid black 0.5px;
    float:left;
    background-color: white;
    text-align:center;
}

.icons > img{
    background: transparent;
}

ol.breadcrumb{
    background-color:whitesmoke;
}

.imgintroduzione{
    float: right;
    width: 400px;
    padding: 10px;
    margin-right: 300px;
    clear: both;
}

.introduzione{
    padding: 5px;
    margin-left: 100px;
    width: 40%;
}

.expan::before{
    content: "(Espansione:";
    font-family: "Roboto";
    font-size: 10px;
    
}

expan{
    
}

.expan::after{
    content: ")";
    font-family: "Roboto";
    font-size: 10px;
}*/

.codificaxml{
    display: inline-block;
    font-size: 10px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
  height: 70%;
  overflow: scroll;
  margin-top: 6%;
  margin-right: 12px;
  margin-left: 12px
}

.contenutomostra{
    padding: 10px;
    margin-right: 20px;
    margin-left: 20px;
}

/*rect {
  fill: rgba(70, 130, 180, 0.5);
  stroke: steelblue;
  stroke-width: 3px;
  vector-effect: non-scaling-stroke;
}
table, th, td {
  border: 1px solid black;
}*/
table{
    margin: 0 auto;
	width: 65%;
	
}

.tablevoc{
    border-radius: 10px;
	margin-left: 2%;
}

table td, table th{
	padding: 15px;
}

table th {
    color: white;
	background-color: #54585d;
	font-weight: bold;
	font-size: 13px;
	border: 1px solid #54585d;
}

table tbody td {
	color: #636363;
	border: 1px solid #dddfe1;
}
table tbody tr {
	background-color: #f9fafb;
}
table tbody tr:nth-child(odd) {
	background-color: #ffffff;
}

.bricerca{
    margin-top: 2%;
}
.formric{
    width:'500px';
    border:2px #dc3544 solid;
    margin: auto;
    text-align:center;
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
     margin-top: 5%;
    background-color: white;
    height: 20%;
}

.form select{
    margin-bottom: 1%;
}

.wildcard, .fuzzy, .doppio, .testo{
    margin: auto;
    text-align:center;
}

.form > label{
    font-size: 25px;
}

.titolo2{
    text-align: center;
    font-family: 'Roboto';
    border-radius: 10px;
    background-color: #343a40;
    border: 2px solid #343a40;
    width: 40%;
    margin-bottom: 2%;
    margin: 0 auto;
    color: white;
}

.titolo2 h2{
    
}

.introv{
    margin-left: 5%;
    margin-right: 5%;
    border: 2px #343a40 solid;
    background-color: #343a40;
    border-radius: 10px;
    padding: 25px;
    margin-top: 2%;
    color: white;
}

.vocform button{
    float: left;
    margin-left: 2%;
}

.vocform{
    border: 2px #dc3544 solid;
    height: 200%;
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
}

.vocform p{
    padding-left: 25px;
}

.pvocform{
    clear: both;
}



.aggiuntivi{
    margin-top: 10px;
    margin-bottom: 10px;
}

.linkpost{
    color: black;
}

.linkpost:hover{
    color: black;
	text-decoration:none;
}


.analisi, .fenomeni{
    margin-left: 5px;
}

.titoloprinci h5{
    display: inline-block;
}

.libro img{
    padding: 5px;
    border: 2px solid white;
    background-color:white;
    float:left;
}


.libro{
    margin-left: auto;
    margin-right: auto;
}

.add{
    color: green;
}

.expan{
    font-family: "Roboto";
    font-size: 15px;
}

.abbr{
    color: orange;
}

.corsivo{
   color: pink;
}

.del{
    color: grey;
}

.provadiv{
    font-family: "Verdana";
    font-size: 60%;
    width: 60px;
    background-color: white;
    border-top: 1px solid black;
}

.hi{
    background-color: yellow;
}

.legenda{
    background-color: white;
}

.gap{
    color: red;
    font-family: "Verdana";
    font-size: 10px;
}

.gap1{
    color: red;
    font-family: "Verdana";
}

exist\:match { 
background-color: yellow; 
}

